.registration-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 30px auto 0 auto;
}

.registration-form div {
    width: 25vw;
    margin-bottom: 10px;
}